---
import Admin from '@components/Admin.astro'
import DetailSummaryContainer from '@components/admin/DetailSummaryContainer'
import LineCard from '@components/admin/LineCard'
import ProductForm from '@components/ProductForm'
import {
  getCategoryById,
  getCategoryBySlug,
  getProductById,
  getProductsByCategory,
  getProductsBySection,
  getSectionById,
  supabase
} from 'src/utils/supabase'

const cookies = Astro.request.headers.get('cookie')

const token = cookies
  ?.split(';')
  .find((c) => c.trim().startsWith('sup-access-token='))
  ?.split('=')[1]

if (!token) return Astro.redirect('/admin/login')

const { data: user } = await supabase.auth.api.getUser(token)

if (user?.aud !== 'authenticated') return Astro.redirect('/admin/login')

const { productId } = Astro.params

const product = await getProductById({ productId: Number(productId) })
const products = product.categoryId
  ? await getProductsByCategory({ categoryId: product.categoryId })
  : await getProductsBySection({ sectionId: product.sectionId })
const category = product.categoryId && (await getCategoryById({ categoryId: product.categoryId }))
const section = product.sectionId && (await getSectionById({ sectionId: product.sectionId }))
---

<Admin user={user}>
  <div class="flex flex-col gap-6">
    <DetailSummaryContainer title="Producto">
      <h3>{product.name}</h3>
      {product.description && <h4>{product.description}</h4>}
      <h3>{product.price}</h3>
    </DetailSummaryContainer>

    <LineCard client:visible label="Datos producto">
      <ProductForm client:visible product={product} products={products} section={section} category={category} defaultOpen />
    </LineCard>
  </div>
</Admin>
