---
import Card from '../../components/Card.astro'
import Divider from '../../components/Divider.astro'
import Layout from '../../layouts/Layout.astro'
import { GASTRO_SECTIONS, Section } from '../../mock/data'

export function getStaticPaths () {
  return GASTRO_SECTIONS.filter((section) => section.id === 'desayunos-meriendas').map((section) => ({
    params: {
      sectionId: section.id
    },
    props: {
      section
    }
  }))
}

export interface Params {
  section: Section['id']
}
export interface Props {
  section: Section
}

const { sectionId } = Astro.params
const { section } = Astro.props
---

<Layout title={`Auriga | ${section.sectionTitle}` || 'Auriga Gastrobar'}>
  <Card>
    <h1 class="text-center">{section.sectionTitle}</h1>

    {
      section.schedules && (
        <div class="flex flex-col gap-1 py-4">
          {section.schedules.map((schedule) => (
            <small class="text-center">{schedule}</small>
          ))}
        </div>
      )
    }

    <Divider />

    <div>
      {
        section.categories.map((category) => (
          <div class="py-2">
            <h2 class="text-center pb-2">{category.label}</h2>

            {category.extraServices && (
              <div class="flex flex-col gap-1">
                {category.extraServices.map((extraService) => (
                  <small class="text-center">{extraService}</small>
                ))}
              </div>
            )}

            <div class="flex flex-col py-4 gap-4">
              {category.products.map((product) => (
                <div class="flex justify-between items-center">
                  <div class="flex flex-col pr-4 gap-1">
                    <p>{product.name}</p>
                    <p class="text-xxs text-dark-text/70">{product.description}</p>
                    <div class="flex flex-row gap-1">
                      {product.allergens
                        ?.sort((a, b) => a.localeCompare(b))
                        .map((allergen) => (
                          <img class="h-8" src={`/assets/images/allergens/${allergen}.svg`} alt={allergen} />
                        ))}
                    </div>
                  </div>

                  <p class="text-center">{product.price}€</p>
                </div>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </Card>
</Layout>
