---
import Card from '../../components/Card.astro'
import Categories from '../../components/Categories.astro'
import Category from '../../components/Category.astro'
import Divider from '../../components/Divider.astro'
import ExtraServices from '../../components/ExtraServices.astro'
import Menu from '../../components/Menu.astro'
import Products from '../../components/Products.astro'
import Layout from '../../layouts/Layout.astro'
import { RESTAURANT } from '../../mock/auriga'
import { Section } from '../../types'

export function getStaticPaths() {
  return RESTAURANT.zones.restaurante.sections.map((section) => ({
    params: {
      sectionId: section.id
    },
    props: {
      section
    }
  }))
}

export interface Params {
  section: Section['id']
}
export interface Props {
  section: Section
}

const { sectionId } = Astro.params
const {
  section: { schedules, sectionTitle, categories, menu, products, extraServices }
} = Astro.props
---

<Layout title={`${RESTAURANT.shortName || RESTAURANT.name} | ${sectionTitle}`}>
  <Card>
    <h1 class="text-center">{sectionTitle}</h1>

    {
      schedules && (
        <div class="flex flex-col gap-1 py-4">
          {schedules.map((schedule) => (
            <small class="text-center">{schedule}</small>
          ))}
        </div>
      )
    }

    {extraServices && <ExtraServices extraServices={extraServices} />}

    <Divider />

    {categories && <Categories categories={categories} />}

    {products && <Products products={products} />}

    {menu && <Menu menu={menu} />}
  </Card>
</Layout>
