---
import type { ProductI } from '../types'
import Allergens from './Allergens.astro'

export interface Props {
  product: ProductI
}

const {
  product: { name, price, description, allergens, options }
} = Astro.props
---

<div class="flex justify-between items-center">
  <div class="flex flex-col pr-4 gap-2">
    <p>{name}</p>

    {description && <small class="text-dark-text/70">{description}</small>}
    {
      options && (
        <div class="flex flex-col gap-2">
          {options.map((option) => (
            <small class="text-dark-text/70">- {option}</small>
          ))}
        </div>
      )
    }

    {allergens && <Allergens allergens={allergens} />}
  </div>

  <p class="text-center">{typeof price === 'number' ? `${price.toFixed(2)}€` : price}</p>
</div>
