---
import Card from '@components/Card.astro'
import Categories from '@components/Categories.astro'
import Divider from '@components/Divider.astro'
import ExtraServices from '@components/ExtraServices.astro'
import Menu from '@components/Menu.astro'
import Products from '@components/Products.astro'
import { SectionI } from 'src/types'

export interface Props {
  section: SectionI
}

const {
  section: { schedules, sectionTitle, categories, menu, products, extraServices }
} = Astro.props
---

<Card>
  <h1 class="text-center">{sectionTitle}</h1>

  {
    schedules && (
      <div class="flex flex-col gap-1 py-4">
        {schedules.map((schedule) => (
          <small class="text-center">{schedule}</small>
        ))}
      </div>
    )
  }

  {extraServices && <ExtraServices extraServices={extraServices} />}

  <Divider />

  {categories && <Categories categories={categories} />}

  {products && <Products products={products} />}

  {menu && <Menu menu={menu} />}
</Card>
