---
import BurgerMenu from '@components/BurgerMenu'
import Footer from '@components/Footer.astro'

import { RESTAURANT } from '../mock/auriga'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="es" class="text-dark-text">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="m-0 relative bg-black z-10 flex flex-col overflow-y-auto">
    <BurgerMenu client:load />

    <div id="logo-container" class="flex justify-center px-6 pt-6 pb-4">
      <img class="max-h-20 max-w-[70%] h-fit" src={`/assets/images/${RESTAURANT.id}-logo.svg`} alt={`${RESTAURANT.name} logo`} />
    </div>

    <main class="flex-grow max-w-lg mx-auto w-full p-4">
      <slot />
    </main>

    <Footer />

    <style is:inline>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

      html {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
      }

      body {
        min-height: calc(var(--vh, 1vh) * 100);
      }
      body::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-image: url('/assets/images/auriga-outside.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: opacity(0.5);
        z-index: -1;
      }

      * {
        box-sizing: border-box;
      }

      h1 {
        font-size: 1.6rem;
        font-weight: 700;
      }
      h2 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      h3 {
        font-size: 1.3rem;
        font-weight: 500;
      }
      h4 {
        font-size: 1.2rem;
        font-weight: 400;
      }

      p {
        font-size: 1rem;
        font-weight: 400;
      }
      small {
        font-size: 0.9rem;
      }

      .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
      }
      .line {
        fill: none;
        stroke: #ffffff;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
    </style>
  </body>
</html>

<script is:inline>
  const vh = window.innerHeight * 0.01
  document.documentElement.style.setProperty('--vh', `${vh}px`)

  window.addEventListener('resize', () => {
    const vh = window.innerHeight * 0.01
    document.documentElement.style.setProperty('--vh', `${vh}px`)
  })
</script>
